<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.ltd_tech.readsdk.page.activities.ReadDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            />
        <activity android:name="com.ltd_tech.readsdk.page.activities.ReadPdfOrEpubActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>